
<p>
<a href="javascript: window.history.back()"><img src="img/arrowleft.png" border="0"></a>
</p>

<div class="content-index">
    <header>
        <div class="media">
            <div class="bd">
                <h1><%= course.fullname %></h1>
                <p><%= course.summary %></p>
            </div>
        </div>
    </header>

	<h2><%= forumName %></h2>
	
	<% if (posts.length > 0) { %>
	<ul class="nav nav-v">
		<% _.each(posts, function(post) { %>
		<li class="nav-item media">
			
			<h3><%= post.subject %></h3>
			<i><%= post.userfullname %></i> - <%= new Date(post.modified * 1000).toLocaleString() %>
			<p><%= post.message %></p>
			
		</li>
		<% }); %>
	</ul>
	<% } else { %>
		<%= MM.lang.s("nomessages", "forums") %>
	<% } %>
</div>